<launch>
  <!-- Start the MoveIt Gazebo demo -->
  <include file="$(find panda_moveit)/launch/demo_gazebo.launch" />

  <!-- Delay node execution until Gazebo and MoveIt are up -->
  <param name="use_sim_time" value="true"/>

  <!-- Run moveit.py -->
  <node pkg="panda_moveit" type="moveit.py" name="moveit_node" output="screen" />
  <node pkg="panda_moveit" type="spawn.py" name="spawn_node" output="screen" />

  <!-- Run camera.py -->
  <node pkg="panda_moveit" type="camera.py" name="camera_node" output="screen" />

  <!-- Run spawn.py -->
  <!-- <node pkg="panda_moveit" type="spawn.py" name="spawn_node" output="screen" /> -->

</launch>
